/* resete */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* elementos: pais */
body{
    background-color: #3a4044;
}

/* elementos filhos diretos: pais */
body > header{
    padding: 10px auto;
    margin-bottom: 10px;
    /* cores */
    background-color: #5d5d677f;
}

/* classes: pais */
.clsPrincipal{
    max-width: 1024px;
    width: 100%;
}

/* mistos: classes + classes elemntos 'pais' */
.carousel
,.carousel img{
    height: 80vh;
    /* bordas */
    border-radius: 5px;
    border: none;
}

/* elementos classes: pais */
header .clsPrincipal{
    color: #e8e8ea;
    /* display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* classes elementos: pais */

/* id's: pais */

/* fontes */
.dekko-regular {
    font-family: "Dekko", cursive;
    font-weight: bold;
    font-style: normal;
  }
  
